body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("api.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#heading{
    color: white;
    background-color: black;
    text-align: center;
    margin: 10px;
    margin: 20px;
    padding: 20px;
    font-weight: bolder;
}

#buttonbox{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
 height: 50px;
 width: 200px;
 color: white;
 background-color:rgb(22,88,142);
 margin: 20px;
 border-radius: 10px;
}

.button:hover{
    color: peru;
    background-color: black;
}

#div{
    height: 500px;
    width: 1000px;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: scroll;
    border-radius: 10px;
}

.style{
    background-color: rgba(255, 255, 255,0.5);
}